---
import "../styles/global.css";
import Nav2 from "../components/Nav2.astro";
import Footer from "../components/Footer.astro";
const {title, description, url, type, site_name, ogimage, footer_location} = Astro.props;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{title}</title>
		<meta name="description" content={description} />
		<link rel="canonical" href={url} />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description}>
		<meta property="og:url" content={url} />
		<meta property="og:type" content={type} />
		<meta property="og:site_name" content={site_name} />
		<meta property="og:image" content={ogimage} />
		<meta name="twitter:card" content="summary" />
		<meta property="twitter:image" content={ogimage} />
	</head>
	<body class="min-h-screen bg-amber-100">
		<header class="bg-teal-900 text-white sticky top-0 z-50 shadow-md">
			<Nav2 />
		</header>
		<main class="px-24 py-4 max-w-7xl mx-auto w-full max-sm:px-5">

            <slot />

            </main>
<Footer footer_location={footer_location} />
  <script>
  // Mobile menu toggle
  document.getElementById('mobile-menu-button').addEventListener('click', () => {
    document.getElementById('mobile-menu').classList.toggle('hidden');
  });

    // Mobile dropdown toggle services
  document.getElementById('mobile-dropdown-btn-spicies').addEventListener('click', () => {
    document.getElementById('mobile-dropdown-spicies').classList.toggle('hidden');
  });

  // Mobile dropdown toggle services
  document.getElementById('mobile-dropdown-btn-services').addEventListener('click', () => {
    document.getElementById('mobile-dropdown-services').classList.toggle('hidden');
  });
</script>
	</body>
</html>

<style is:global>
	p {margin-bottom:16px;}
	h2 {font-size: 1.875rem; line-height: 2.25rem; color: oklch(0.386 0.063 188.416); font-weight: 800; margin-top: 16px; margin-bottom: 16px;}
	h3 {font-size: 1.5rem; line-height: 2rem; color: oklch(0.386 0.063 188.416); font-weight: 700; margin-top: 16px; margin-bottom: 16px;}
</style>